body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  font-size: 30px;
  height: 95vh;
  justify-content: center;
  width: 100vw;
}

.tile {
  display: inline-flex;
  height: 30px;
  width: 30px;
}

.tile * {
  position: absolute;
}

.up::before {
  color: red;
  content: "×";
  position: absolute;
  top: -30px;
  z-index: 1;
}

.down::after {
  bottom: -30px;
  color: red;
  content: "×";
  left: 0;
  position: absolute;
  z-index: 1;
}

.left::before {
  color: #f00;
  content: "×";
  left: -30px;
  position: absolute;
  z-index: 1;
}

.right::after {
  color: #f00;
  content: "×";
  left: 30px;
  position: absolute;
  z-index: 1;
}

.blue {
  color: #00f;
}

.green {
  color: #0f0;
}

.red {
  color: #f00;
}

.purple {
  color: #f0f;
}
